/* Réinitialisation des styles de base */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pappins', sans-serif;
}
:root {
    --ma-couleur1: #fff;
    --ma-couleur2: rgb(67, 110, 201);
    --ma-couleur3: black; /* Définition de la variable de couleur */
  }
/* Styles pour le conteneur principal */
.container
{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background-color:var(--ma-couleur1);
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 1);
}

/* Styles pour la partie gauche du conteneur */
.container .left_Side
{
   position: relative;
   background-color:var(--ma-couleur2);
   padding: 40px; 
}
/* Styles pour les images de la partie gauche */
.left_Side .imgBx
{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Styles pour le titre */
.title
{
  /* border-bottom: 2px solid rgb(255, 255, 255); */
  color: var(--ma-couleur1);
  font-size: 1.5em; 
  margin-top: 20px;
  text-align: center;
  font-weight: 600;
  line-height: 1.4em;
  margin-bottom: 10px;
 
}
/* Styles pour les informations de contact */
.contactInfo ul
{
    position: relative;
}
.contactInfo ul li
{
    position: relative;
    list-style: none;
    margin: 15px 0;
    cursor: pointer;
}

.contactInfo ul li .text{
    margin-left: 20px;
}

.contactInfo ul li span
{
    color: var(--ma-couleur1);
    font-size: 15px;
}
/* Styles pour les icônes */
.icon img
{
    width: 20px;
    margin-bottom: -4px;
}
/* Styles pour les informations de réseau */
.reseauInfo ul
{
    position: relative;
}
.reseauInfo ul li
{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
.reseauInfo ul li .text{
    margin-left: 20px;
}
.reseauInfo ul li span
{
    color: var(--ma-couleur1);
    font-size: 15px;
}

/* Styles pour les loisirs */
.loisirs ul
{
    position: relative;
}
 /* Ajouter un élément avec un contenu vide et une largeur et hauteur nulles directement avant les "li" */
 .loisirs li::before {
    content: "";
    width: 10px; /* Largeur des carrés */
    height: 10px; /* Hauteur des carrés */
    background-color: var(--ma-couleur1); /* Couleur des carrés */
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    border-radius: 2px; /* Pour arrondir légèrement les coins (facultatif) */
}
.loisirs ul li
{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
.loisirs ul li span
{
    color: var(--ma-couleur1);
    font-size: 15px;
}

/* Styles pour les langues */
.langue ul
{
    position: relative;
}
.langue ul li
{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
.langue ul li span
{
    color:var(--ma-couleur1);
    font-size: 15px;
}
/* Styles pour la barre de progression des langues */
.langue .percent
{
    position: relative;
    width: 100%;
    height: 6px;
    background-color:var(--ma-couleur3);
    display: block;
    margin-top: 5px;
    border-radius: 50px;
}
.langue .percent div
{
  position: relative;
  top: 0;
  left: 0;
  height: 100%; 
  background-color:var(--ma-couleur1); 
  border-radius: 50px;
}
/* Styles pour la ligne horizontale */
hr
{
    margin-top: 20%;
}
/* Styles pour la partie droite du conteneur */
.container .right_Side
{
   position: relative;
   background-color:var(--ma-couleur1);
   padding-top: 40px; 
}
/* Styles pour les informations à propos */
.about
{
    margin-bottom: 50px;
    margin-left: 20px;
}
.about:last-child
{
    margin-bottom: 10px;
}

/* Styles pour les titres à propos */
.title2
{
    color: var(--ma-couleur2);
    text-transform: capitalize;
    letter-spacing: 1px;
    text-align: start;
    margin-bottom: 15px;
}
/* Styles pour les informations */
.infor
{
    color: var(--ma-couleur2);
    text-align: start;
    

}
/* Styles pour les listes à propos */
.about ul li
{
    margin-bottom: 15px;
    list-style: none;
}
/* Styles pour les titres des listes à propos */
.about h5
{
    color: var(--ma-couleur2);
    font-size: 25px;
    
}
/* Styles pour les boîtes à propos */
.about .box
{
   display: flex;
   flex-direction: row; 
   margin: 20px 0;
}
.about .box .year_company
{
  min-width: 150px;  
}
.about .box .year_company h5
{
    text-transform: uppercase;
    color:var(--ma-couleur2);
    font-size: 15px;
    margin-left: 0;
    

}
.about .box .text h4
{
    text-transform: uppercase;
    color: var(--ma-couleur3);
    font-size: 16px;
}
/* Styles pour les compétences */
.skills .box
{
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 150px 1fr;
  justify-content: center;
  align-items:center;
}
.skills .box h4
{
    text-transform: uppercase;
    color: var(--ma-couleur2);
    font-weight: 500;
}
.skills .box .percent
{
    position: relative;
    width: 90%;
    height: 8px;
    background:var(--ma-couleur3);
    border-radius: 50px;


}
.skills .box .percent div
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: var(--ma-couleur2);
    border-radius: 50px;

}
/* Media queries pour les tailles d'écran */
@media (max-width:1000px)
{
    .container
    {
        margin: 10px;
        grid-template-columns: repeat(1,1fr);
    }
}
@media (max-width:600px)
{
   .about .box
   {
    flex-direction: colum;
   }
   .about .box .year_company
   {
    margin-bottom: 5px;
   }
}

.skills .box
{
    grid-template-columns: repeat(1,1fr);
}